In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [15]:
flights_data = pd.read_csv('flights.csv')
flights_data.head(10)
weather_data_pd = pd.read_csv('weather.csv')
weather_data_np = weather_data_pd.to_numpy()

In [16]:
flights_data

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,336772,2013,9,30,NaN,NaN,NaN,NaN,9E,NaN,3393,JFK,DCA,NaN,213,NaN,NaN
336772,336773,2013,9,30,NaN,NaN,NaN,NaN,9E,NaN,3525,LGA,SYR,NaN,198,NaN,NaN
336773,336774,2013,9,30,NaN,NaN,NaN,NaN,MQ,N535MQ,3461,LGA,BNA,NaN,764,NaN,NaN
336774,336775,2013,9,30,NaN,NaN,NaN,NaN,MQ,N511MQ,3572,LGA,CLE,NaN,419,NaN,NaN
336775,336776,2013,9,30,NaN,NaN,NaN,NaN,MQ,N839MQ,3531,LGA,RDU,NaN,431,NaN,NaN

In [17]:
weather_data_pd

,Unnamed: 0,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
0,1,EWR,2013,1.0,1.0,0.0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0
1,2,EWR,2013,1.0,1.0,1.0,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0
2,3,EWR,2013,1.0,1.0,2.0,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0
3,4,EWR,2013,1.0,1.0,3.0,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0
4,5,EWR,2013,1.0,1.0,4.0,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8714,8715,JFK,2013,9.0,2.0,20.0,75.20,73.40,94.14,200.0,4.60312,5.297178,0.0,NaN,4.0
8715,8716,JFK,2013,10.0,23.0,10.0,48.92,39.02,68.51,60.0,4.60312,5.297178,0.0,1008.1,10.0
8716,8717,JFK,2013,10.0,23.0,11.0,48.92,39.02,68.51,40.0,4.60312,5.297178,0.0,1008.5,10.0
8717,8718,JFK,2013,12.0,17.0,5.0,26.96,10.94,50.34,40.0,4.60312,5.297178,0.0,1023.9,10.0
8718,8719,LGA,2013,8.0,22.0,22.0,75.92,66.92,73.68,210.0,8.05546,9.270062,0.0,1011.9,10.0

In [18]:
#Question 1 
JFK_to_SLC = len(flights_data[(flights_data['origin'] == 'JFK') & (flights_data['dest'] == 'SLC')])
print("Number of flights from JFK to SLC:", JFK_to_SLC)

Number of flights from JFK to SLC: 2113

In [19]:
#Question 2
Airlines_to_SLC = flights_data[flights_data['dest'] == 'SLC']['carrier'].nunique()
print("Number of Airlines to SLC':", Airlines_to_SLC)

Number of Airlines to SLC': 2

In [20]:
#Question 3
average_delay = flights_data[flights_data['dest'] == 'RDU']['arr_delay'].mean()
print("Average arrival delay for flights to RDU:", average_delay.round(2))

Average arrival delay for flights to RDU: 10.05

In [21]:
#Question 4
sea_flights = flights_data[flights_data['dest'] == 'SEA']
total_sea_flights = len(sea_flights)
nyc_flights = sea_flights[(sea_flights['origin'] == 'LGA') | (sea_flights['origin'] == 'JFK')]
flights_from_lga_jfk = len(nyc_flights)
proportion = flights_from_lga_jfk / total_sea_flights
print(f"Proportion of flights from LGA and JFK to SEA: {proportion:.2%}")

Proportion of flights from LGA and JFK to SEA: 53.33%

In [22]:
#Question 5
average_delay_per_date = flights_data.groupby('day')['dep_delay'].mean().reset_index()
date_and_largest_delay = average_delay_per_date[average_delay_per_date['dep_delay'] == average_delay_per_date['dep_delay'].max()]
date_and_largest_delay

   day  dep_delay
7    8  21.760773

In [23]:
#Question 6
average_arrival_per_date = flights_data.groupby('day')['arr_delay'].mean().reset_index()
date_and_largest_arrival = average_arrival_per_date[average_arrival_per_date['arr_delay'] == average_arrival_per_date['arr_delay'].max()]
date_and_largest_arrival

   day  arr_delay
7    8  19.072177

In [24]:
#Question 7
flights_data['speed'] = flights_data['distance'] / flights_data['air_time']
lga_jfk_flights = flights_data[flights_data['origin'].isin(['LGA', 'JFK'])]
fastest_flight = lga_jfk_flights.loc[lga_jfk_flights['speed'].idxmax()]
x = fastest_flight[['tailnum', 'speed']]
x

tailnum       N666DN
speed      11.723077
Name: 216447, dtype: object

In [25]:
#Question 8
weather_data_pd.fillna(0, inplace=True)
weather_data_pd

,Unnamed: 0,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
0,1,EWR,2013,1.0,1.0,0.0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0
1,2,EWR,2013,1.0,1.0,1.0,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0
2,3,EWR,2013,1.0,1.0,2.0,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0
3,4,EWR,2013,1.0,1.0,3.0,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0
4,5,EWR,2013,1.0,1.0,4.0,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8714,8715,JFK,2013,9.0,2.0,20.0,75.20,73.40,94.14,200.0,4.60312,5.297178,0.0,0.0,4.0
8715,8716,JFK,2013,10.0,23.0,10.0,48.92,39.02,68.51,60.0,4.60312,5.297178,0.0,1008.1,10.0
8716,8717,JFK,2013,10.0,23.0,11.0,48.92,39.02,68.51,40.0,4.60312,5.297178,0.0,1008.5,10.0
8717,8718,JFK,2013,12.0,17.0,5.0,26.96,10.94,50.34,40.0,4.60312,5.297178,0.0,1023.9,10.0
8718,8719,LGA,2013,8.0,22.0,22.0,75.92,66.92,73.68,210.0,8.05546,9.270062,0.0,1011.9,10.0

In [34]:
#Question 9
feb_observations = weather_data_pd['month'].value_counts().get(2.0, 0)
print(feb_observations)

671

In [32]:
#Question 10
feb_mean = weather_data_pd[weather_data_pd["month"] == 2.0]["humid"].mean()
print(feb_mean)

62.91815201192251

In [37]:
#Question 11
feb_humid = weather_data_pd[weather_data_pd["month"] == 2.0]["humid"]
feb_std = feb_humid.std()
print(feb_std)

20.352072009682594